body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  background: linear-gradient(to left, #dee2ed 0%, rgb(185, 246, 246) 100%);
}

.dark {
  background: linear-gradient(to left, #606166 0%, rgb(2, 14, 25) 100%);
  color: #fff;
}

.theme-switch-wrapper {
  background: none;
}